button:hover {
    cursor: pointer
}

input {
    background: #FFF;
    background-image: url(http://www.graphicartsunit.com/images/noise.png);
    width: 250px;
    height: 60px;
    position: absolute;
    left: 455px;
    top: 155px;
    border-radius: 40px;
    border: none;
}